.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.line-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
  height: 95vh;

}

.box:hover {
  transform: translateY(-10px);
}

.box-r:hover {
  transform: translateY(-10px);
}

.box-l:hover {
  transform: translateY(-10px);
}

.box,
.box-l,
.box-r {
  width: 400px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.box__desc , .box__desc-r , .box__desc-l{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  font-size: large;
}

.box__desc , .box__desc-r p, .box__desc-l p{
  text-indent: 2em; 
  margin: 0 0 1em 0; 
  line-height: 1.8;
  width: 100%; 
}



.box-title,
.box-title-l,
.box-title-r {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.box__desc,
.box__desc-l,
.box__desc-r {
  font-size: large;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 10px;
}

.box-view, .box-view-r, .box-view-l {
  background: #c10000;
  display: inline-block;
  padding: .6rem 1rem;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  transition: 0.3s;
  margin-top: 1rem;
  margin-left: 130px;
  border-radius: 5px;
  text-transform: uppercase;
}

.box-view:hover, .box-view-r:hover, .box-view-l:hover {
  border: 2px solid #c10000;
  background: transparent;
  color: #c10000;
}

.box-img img {
  width: 80%;
  height: 50%;
  object-fit: cover;
  margin-left: 40px;
}

.box-img-l img {
  width: 70%;
  height: 50%;
  object-fit: cover;
  margin-left: 50px;
}

.box-img-r img {
  width: 80%;
  height: 50%;
  object-fit: cover;
  margin-left: 40px;
}

.box-l {
  margin-bottom: 300px;
}

.box,
.box-r {
  align-self: center;
}

.btn-join{
  background: #c10000;
  display: inline-block;
  padding: .6rem 1rem;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  transition: 0.3s;
  margin-top: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn-join:hover {
  border: 2px solid #c10000;
  background: transparent;
  color: #c10000;
}

.text-trust {
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
  margin-top: 90px;
}

.text-partner {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.horizontal-line-title{
  width: 130px;
  border-top: 4px solid #ed7e00;
  margin-left: 190px;
  margin-top: -70px;
}

.horizontal-line-l {
  width: 130px;
  border-top: 4px solid #ed7e00;
  margin-left: 700px;
  margin-top: -410px;
}

.horizontal-line-r {
  width: 130px;
  border-top: 4px solid #ed7e00;
  margin-left: 1205px;
  margin-top: 110px;
}

.horizontal-line {
  width: 130px;
  border-top: 4px solid #ed7e00;
  margin-left: 695px;
  margin-bottom: 72px;
}


.container {
  max-width: 100%;
  padding: 2rem 15rem;
  margin: 0 auto;
}

.container-slide {
  max-width: 100%;
  padding: 4rem 10rem;
  margin-top: 400px;
}

.swiper_container {
  width: 100%;
  height: auto; 
  position: relative;
  margin-top: -270px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-controler {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev, .swiper-button-next {
  margin: 0 10px; 
}

.content-con{
  display: flex;
  justify-content: space-between;
}

.content-l img{
  width: 100%;
  border-radius: 10px;
}

.content-r{
padding: 2rem;
text-align: left;
}

.menu li {
  padding-right: 2rem;
  padding-bottom: 64px;
  font-weight: 600;
  height: 35px;
  display: flex;
  align-items: center;
}
