 .section__padding {
    padding: 4rem 4rem;
 }

 .footer {
    background: #d3d3d3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;

 }

 .logo-png {
    top: 5px;
    left: 20px;
    margin: 10px;
    height: 80px;
    width: 300px;
 }

 .logo-png img {
    width: 100%;
    height: auto;
    margin-left: 2px;
 }

 .sb__footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
 }

 .sb__footer-links_div {
    flex: 1;
    margin: 0 3rem;
 }

 .sb__footer-links_div h2,
 .sb__footer-links_div h4 {
    margin: 0 0 1.5rem 0;
 }

 .sb__footer-links_div a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-bottom: 1.5rem;
 }

 .sb__footer-links_div a svg {
    margin-right: 1rem;
 }

 .sb__footer-links_div a:hover {
    color: rgb(255, 0, 0);
 }


 .socialmedia p {
    display: inline-block;
    margin-right: 1rem;
 }

 .socialmedia img {
    width: 24px;
    height: 24px;
 }

 .sb__footer-below {
    margin-left: 580px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
 }

 .sb__footer-below-links {
   margin-left: 110px;
    flex-direction: row;
 }

 .sb__footer-below-links p {
    font-size: 13px;
    line-height: 15px;
    color: rgb(0, 0, 0);
    font-weight: 600;
 }

 .sb__footer-copyright p {
    font-size: 13px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
 }

 .menu li {
   padding-right: 2rem;
   padding-bottom: 64px;
   font-weight: 600;
   height: 35px;
   display: flex;
   align-items: center;
 }


 

 @media screen and (max-width:850px) {
    .sb__footer-heading h1 {
       font-size: 44px;
       line-height: 50px
    }
 }

 @media screen and (max-width:550px) {
    .sb__footer-heading h1 {
       font-size: 34px;
       line-height: 42px
    }

    .sb__footer-links div {
       margin: 1rem 0;
    }

    .sb__footer-btn p {
       font-size: 14px;
       line-height: 20px
    }

    .sb__footer-below {
       flex-direction: column;
       justify-content: left;
    }

    .sb__footer-below-links {
       flex-direction: column;
    }

    .sb__footer-below-links p {
       margin-left: 0rem;
       margin-top: 1rem;
    }
 }

 @media screen and (max-width:400px) {
    .sb__footer-heading h1 {
       font-size: 27px;
       line-height: 38px
    }
 }