.menu li {
  padding-right: 2rem;
  padding-top: 64px;
  font-weight: 600;
  height: 35px;
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 62px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 2px solid #c10000;
  padding: 10px;
  display: none;
  min-width: 200px;
  z-index: 1;
  margin-top: 10px;
}

.bg-devSoft {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  min-height: 100vh;
  background: url('/bgSoftware.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: relative; 
}

.bg-devSoft::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.title-devSoft {
  position: relative;
  z-index: 2; 
}

.title-devSoft span {
  display: block;
  font-size: 4rem;
  font-weight: bolder;
  color: #fff;
}

.title-devSoft div {
  display: block;
  color: #fff;
  max-width: 600px; 
  line-height: 1.5; 
  font-size: 1rem; 
}

.btn-getInTouch {
  margin-left: 5px;
  height: 40px; 
  padding: 0 30px; 
  font-size: 20px;
  background: #c10000;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  transition: 0.3s;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 30px;
  position: relative;
  z-index: 2; 
}

.btn-getInTouch:hover {
  border: 2px solid #c10000;
  background: #fff; 
  color: #c10000; 


.devSoft-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.devSoft-subTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 100px;
}

.devSoft-desc {
  font-size: 1rem;
  margin-bottom: 20px;
  max-width: 800px; 
  margin-top: 15px;
  font-size: 1rem;
  line-height: 2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px; 
  padding: 20px;
}

.grid-item {
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; 
  padding: 60px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden; 
  transition: transform 0.3s ease-in-out; 
}

.grid-item:hover {
  transform: scale(1.05); 
}

.grid-item .icon {
  font-size: 50px; 
  margin-bottom: 10px;
}

.grid-item p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.grid-item .info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c10000; 
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out; 
  padding: 20px;
  z-index: 1; 
}

.grid-item:hover .info {
  opacity: 1; 
}

.image-section {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box; 
}

.sdlc-img {
  max-width: 60%; 
  height: auto; 
  margin-top: -20px;
}

.devSoft-down-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: -200px;
}


.grid-down-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px; 
  padding: 20px;
}

.grid-down-item {
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; 
  padding: 60px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden; 
  transition: transform 0.3s ease-in-out;
}

.grid-down-item:hover {
  transform: scale(1.05); 
}

.grid-down-item .icon {
  font-size: 50px; 
  margin-bottom: 10px;
}

.grid-down-item p {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
}